body{
    background-color: black;
}


.pacman{
    background-color: yellow;
    border-style: solid;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 25px;

    position: absolute;

    left: 50%;
    top: 50%;
    transform: rotate(90deg);
    /* transform: translate(-50%, -50%); */

}

.pacman::before{
    content: "";   
    position: absolute; 
    width: 0;          
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 25px solid black; /* this is the “mouth” color, can match background */
          
    
}

.pellet{
    background-color: lightblue;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    position:absolute;

    top: 450px;
    left: 200px;



}

